<nav>
  <ul>
    <li>
      <%= link_to "Freqn.com", "index.html", :class => 'blog-title' %>
    </li>
  </ul>
  <ul>
    <li>
      <%= link_to "Blog", "Blog.html", :class => '' %>
    </li>
    <li>
      <%= link_to "About", "about.html", :class => '' %>
    </li>
    <li>
      <%= link_to "Contact", "index.html", :class => 'Contact' %>
    </li>
  </ul>
</nav>
